// ---------------------------------
// Imports
// ---------------------------------

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oswald&display=swap');

// ---------------------------------
// Variables
// ---------------------------------

// Text
@h1-text-align: center;
@h2-text-algin: center;
@h3-text-align: center;
@p-text-align: center;

@h1-font-family: 'Oswald', sans-serif;
@h2-font-family: 'Oswald', sans-serif;
@h3-font-family: 'Open Sans', sans-serif;
@p-font-family : 'Open Sans', sans-serif;

@h1-font-size: 72px;
@h2-font-size: 48px;
@h3-font-size: 32px;
@p-font-size: 16px;

@h3-font-weight: 400;

// Colors
@d-primary-color: #FFF;
@d-secondary-color: #000;

@p1-primary-color: #1E88E5;
@p1-accent-color: #F6F7EB;

@p2-primary-color: #E94F37;
@p2-accent-color: #F6F7EB;

// Input
@input-font-size: 16px;

@input-width: 100%;
@input-height: 48px;
@input-margin-top: 16px;
@input-margin-bottom: 16px;

// Sections
@section-width-standard: 860px;

// Containers
@ctn-margin-top: 0px;
@ctn-margin-bottom: 24px;

@player-input-ctn-width: 400px;

// Buttons
@button-width: 240px;
@small-button-width: 160px;
@circle-button-width: 64px;

//  --------------------------------
//  App
//  --------------------------------

#pg-app
{
    width: 100%;
    height: 100%;

    display: block;

    color: @d-secondary-color;
    background-color: @d-primary-color;

    .two-prop-transition(background-color, color, 0.75s, ease);
}

#pg-app.p1-color
{
    color: @p1-accent-color;
    background-color: @p1-primary-color;
}

#pg-app.p2-color
{
    color: @p2-accent-color;
    background-color: @p2-primary-color;
}

//  --------------------------------
//  Fonts
//  --------------------------------

h1
{
    font-family: @h1-font-family;
    font-size: @h1-font-size;

    text-align: @h1-text-align;

    @media screen and (max-width: 1024px)
    {
        font-size: @h1-font-size * 2;    
    }
}

h2
{
    font-family: @h2-font-family;
    font-size: @h2-font-size;

    text-align: @h2-text-algin;
}

h2.p1-color
{
    color: @p1-primary-color;
}

h2.p2-color
{
    color: @p2-primary-color;
}

h3
{
    font-family: @h3-font-family;
    font-weight: @h3-font-weight;

    text-align: @h3-text-align;

    margin: 0;
}

p
{
    font-family: @p-font-family;
    font-size: @p-font-size;

    text-align: @p-text-align;

    @media screen and (max-width: 1024px)
    {
        font-size: @p-font-size * 2;
    }
}

//  --------------------------------
//  Section
//  --------------------------------

section
{
    position: relative;
    overflow: hidden;

    width: @section-width-standard;

    display: block;
    margin: auto;
}

.main-section
{
    min-height: 640px;
    padding-top: 48px;
}

//  --------------------------------
//  Containers
//  --------------------------------

.pg-team-setup-ctn
{
    padding: @ctn-margin-top 0 @ctn-margin-bottom 0;
}

.pg-player-input-ctn
{
    width: @player-input-ctn-width;

    display: block;

    margin: @input-margin-top 0 @input-margin-bottom 0;
    margin-left: auto;
    margin-right: auto;
}

.pg-button-ctn
{
    width: @button-width;

    display: block;
    margin: 24px 0 24px 0;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 1024px)
    {
        width: @button-width * 1.5;
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.pg-game-btn-ctn
{
    width: 560px;

    display: block;
    margin: auto;
}

.pg-game-btn-ctn-outer
{
    width: 50%;
    display: inline-block;
}

//  --------------------------------
//  Inputs
//  --------------------------------

input
{
    width: @input-width;
    height: @input-height;

    font-size: @p-font-size;
    text-align: @p-text-align;

    margin: @input-margin-top 0 @input-margin-bottom 0;

    .capsule-border();
}

//  --------------------------------
//  Buttons
//  --------------------------------

.pg-small-btn-ctn
{
    width: @small-button-width;
    margin-top: 16px;
    margin-bottom: 16px;

    @media screen and (max-width: 1024px) 
    {
        width: @small-button-width * 1.5;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .pg-button
    {
        width: @small-button-width;

        @media screen and (max-width: 1024px)
        {
            width: @small-button-width * 1.5;
        }

        p
        {
            margin-top: 4px;
            margin-bottom: 4px;
        }
    }
}

.pg-button, .pg-button--circle
{
    width: @button-width;

    background-color: @d-primary-color;
    text-align: center;
    display: inline-block;

    .capsule-border();

    @media screen and (max-width: 1024px)
    {
        width: @button-width * 1.5;
    }
}

.pg-button--circle
{
    height: @circle-button-width;
    width: @circle-button-width;

    display: block;

    margin: 0 auto 0 auto;

    .circle-border();

    @media screen and (max-width: 1024px)
    {
        height: @circle-button-width * 1.5;
        width: @circle-button-width * 1.5;
    }
}

.pg-game-btn
{
    width: 50%;
    display: inline-block;
}

// ---------------------------------
// Animations
// ---------------------------------

.fade-transition
{
    top: 400px;
    max-height: 0;
    opacity: 0;

    .three-prop-transition(top, max-height, opacity, 0.4s, ease);
}

.fade-transition-show
{
    top: 0px;
    max-height: 1500px;
    opacity: 1;

    .transition-delay(1s);
}

.slide-horizontal-start
{
    position: relative;
    overflow: hidden;
    left: 0px;
    width: @section-width-standard * 2;

    .one-prop-transition(left, 0.4s, ease);
}

.slide-horizontal-end
{
    left: -@section-width-standard;
}

// ---------------------------------
// Mixins
// ---------------------------------

.capsule-border
{
    border-color: #000000;
    border-top-left-radius: 72px;
    border-bottom-left-radius: 72px;
    border-top-right-radius: 72px;
    border-bottom-right-radius: 72px;
}

.circle-border
{
    border-color: #000000;
    border-radius: 64px 64px 64px 64px;
}

// ---------------------------------
// Transition Mixins
// ---------------------------------

.one-prop-transition(@prop, @seconds, @ease)
{
    transition: @prop @seconds @ease;
    -webkit-transition: @prop @seconds @ease;
    -moz-transition: @prop @seconds @ease;
}

.two-prop-transition(@prop1, @prop2, @seconds, @ease)
{
    transition: @prop1 @seconds @ease, @prop2 @seconds @ease;
    -webkit-transition: @prop1 @seconds @ease, @prop2 @seconds @ease;
    -moz-transition: @prop1 @seconds @ease, @prop2 @seconds @ease;
}

.three-prop-transition(@prop1, @prop2, @prop3, @seconds, @ease)
{
    transition: @prop1 @seconds @ease, @prop2 @seconds @ease, @prop3 @seconds, @ease;
    -webkit-transition: @prop1 @seconds @ease, @prop2 @seconds @ease, @prop3 @seconds @ease;
    -moz-transition: @prop1 @seconds @ease, @prop2 @seconds @ease, @prop3 @seconds @ease;
}

.transition-delay(@seconds)
{
    transition-delay: @seconds;
    -webkit-transition-delay: @seconds;
    -moz-transition-delay: @seconds;
}

// ---------------------------------
// Other
// ---------------------------------

body
{
    margin: 0;
}

#pg-game-ctn
{
    .header-ctn
    {
        h3
        {
            font-weight: 700;
        }
    }
}

.pg-password-holder
{
    margin-top: 128px;
    margin-bottom: 128px;

    h2
    {
        margin: 0;
    } 

    .sub-header-ctn
    {
        visibility: hidden;
    }
}